BasedOnStyle: LLVM
AccessModifierOffset: 0
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: None
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
ContinuationIndentWidth: 2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
DerivePointerAlignment: false
IndentWidth: 2
IndentWrappedFunctionNames: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SortIncludes: true
SortUsingDeclarations: true
SpacesInContainerLiterals: false